body {
  padding: 40px;
}

.heart {
  font-size: 40px;
  color: #e4e4e4;
  user-select: none;
}

.likes [type="checkbox"]:checked ~ .heart {
  animation-name: heart;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
}

@keyframes heart {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
    color: red;
  }
}